doctype html
html(lang="en")

	head
		meta(charset="utf-8")
		title BeeOne
		meta(name="description", content="BeeOne GmbH / The digital innovation unit of Erste Hub")
		meta(name="viewport", content="width=device-width,initial-scale=1.0")
		block stylesheets
			link(rel="stylesheet", href="//fonts.googleapis.com/css?family=Open+Sans:300")
			if verbose
				link(rel="stylesheet", href="/style.css")
			else
				style
					include ../build/main.min.css
		block icons
			link(rel="icon", type="image/png", sizes="16x16", href="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQBAMAAADt3eJSAAAAMFBMVEUASI0AT40AVZMNVJMAWJYMYJkJbKQwdqlDiLZom8Ckv9ayytvJ3enf5/Dv9ff+//wGy32ZAAAAAWJLR0QAiAUdSAAAAAlwSFlzAAALEwAACxMBAJqcGAAAAAd0SU1FB94KDw0WO1N4EKgAAABQSURBVAjXY1CCAgb9/2DwCZkhGhpaA2Ywhxc6Qxj7/xiehzB+MbwHM0KDoyFSYcmWUDV/HddDGP+M54MZFW2G+0EMRkFBiJozZ86i2AVzBgDJFElrN+qjowAAAABJRU5ErkJggg==")
			link(rel="icon", type="image/png", sizes="256x256", href="avatar.png")
			link(rel="apple-touch-icon", href="avatar.png")

	body
		section.vcard
			block errors
			main(role="main")
				h1.title
					a.url(href="//www.beeone.at/")
						if verbose
							img.logo(src="logo.svg", alt="BeeOne")
						else
							include ../static/logo.svg
				.tagline.note The digital innovation unit of Erste&nbsp;Hub
				.fn.org
					| BeeOne 
					abbr(lang="de", title="Gesellschaft mit beschr&auml;nkter Haftung") GmbH
				.adr
					.street-address
						span(lang="de") Neutorgasse
						| &nbsp;4-8
				div
					span.postal-code 1010
					| &nbsp;
					span.locality Vienna
				.country-name.visuallyhidden Austria
				div
					span.email
						| office
						abbr(title="at") &#64;
						| beeone
						abbr(title="dot") &#46;
						| at
			nav.screen(role="navigation")
				hr.print
				a.about-us.rotate(href="http://www.erstegroup.com/en/About-us/Hub") About us
			footer(role="contentinfo")
				hr.print
				small
					| Member of 
					a.parent(href="http://www.erstegroup.com/") Erste&nbsp;Group
		block javascripts
			if verbose
				script(src="mailto.js")
			else
				script
					include ../build/main.min.js
