doctype html
html(lang="en")

	head
		meta(charset="utf-8")
		title BeeOne
		meta(name="description", content="BeeOne GmbH / The digital innovation unit of Erste Hub")
		meta(name="viewport", content="width=device-width,initial-scale=1.0")
		block stylesheets
			link(rel="stylesheet", href="//fonts.googleapis.com/css?family=Open+Sans:300")
			if verbose
				link(rel="stylesheet", href="/css/normalize.css")
				link(rel="stylesheet", href="/css/style.css")
			else
				style
					include ../public/css/main.min.css
		block icons
			link(rel="icon", type="image/png", sizes="256x256", href="apple-touch-icon.png")
			if verbose
				link(rel="icon", type="image/png", sizes="16x16", href="favicon.png")
			else
				link(rel="icon", type="image/png", sizes="16x16", href="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQBAMAAADt3eJSAAAAMFBMVEUASI0AT40AVZMNVJMAWJYMYJkJbKQwdqlDiLZom8Ckv9ayytvJ3enf5/Dv9ff+//wGy32ZAAAAAWJLR0QAiAUdSAAAAAlwSFlzAAALEwAACxMBAJqcGAAAAAd0SU1FB94KDw0WO1N4EKgAAABQSURBVAjXY1CCAgb9/2DwCZkhGhpaA2Ywhxc6Qxj7/xiehzB+MbwHM0KDoyFSYcmWUDV/HddDGP+M54MZFW2G+0EMRkFBiJozZ86i2AVzBgDJFElrN+qjowAAAABJRU5ErkJggg==")
			link(rel="apple-touch-icon", href="apple-touch-icon.png")
		link(rel="alternate" title="vCard", href="http://h2vx.com/vcf/https%3A//www.beeone.at/", type="text/directory")

	body

		section.vcard
			block errors
			main(role="main")
				h1.regular
					a.url(href="//www.beeone.at/")
						img.logo(src="img/logo.png", alt="BeeOne")
				h2.regular.tagline.note
					| The digital innovation unit of Erste&nbsp;Hub
				div.fn.org
					| BeeOne
					abbr(lang="de", title="Gesellschaft mit beschr&auml;nkter Haftung") GmbH
				div.adr
					div.street-address
						span(lang="de") Neutorgasse
						| &nbsp;4-8
				div
					span.postal-code 1010
					| &nbsp;
					span.locality Vienna
				div.country-name.visuallyhidden Austria
				div
					span.email
						| office
						abbr(title="at") &#64;
						| beeone
						abbr(title="dot") &#46;
						| at
			nav.screen(role="navigation")
				hr.print
				a.about-us.rotate(href="http://www.erstegroup.com/en/About-us/Hub") About us
			footer(role="contentinfo")
				hr.print
				small
					| Member of Erste&nbsp;Group
					br
					a(href="http://www.erstegroup.com/")
						img.parent-logo(src="img/logo_erstegroup.svg" alt="")
		block javascripts
			if verbose
				script(src="js/mailto.js")
			else
				script
					include ../public/js/main.min.js

