html,
button,
input,
select,
textarea {
    color: #000;
}

body {
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #a6e22e;
    text-shadow: none;
}

::selection {
    background: #a6e22e;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #808080;
    margin: 1em 0;
    padding: 0;
}

img {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

/* Screen */

.browserupgrade {
    margin: 0;
    padding: 8px 16px;
    background: #ccc;
    color: #000;
    font-size: 16px;
    text-align: center;
}

html,
body {
    height: 100%;
}

html {
    box-sizing: border-box;
    background: #fff;
    font: normal 100%/1.4 'Open Sans', sans-serif;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

.vcard {
    padding: 2em;
}

.regular {
    margin: 0;
    font-size: 100%;
    font-weight: normal;
}

abbr[title] {
    border-bottom: none;
}

.url {
    display: block;
}

.logo {
    height: 2em;
}

.tagline {
    margin-top: 0.875em;
    margin-bottom: 4em;
    color: #005593;
}

[role="contentinfo"] {
    line-height: 1;
}

small {
    font-size: 75%;
}

.parent-logo {
    width: 6em;
    margin-top: 0.5em;
}

@media only screen {

    .print {
        display: none !important;
    }

    a {
        color: #000;
        text-decoration: none;
    }

    a:hover {
        color: #e4001b;
        text-decoration: underline;
    }

    .about-us,
    .about-us::before,
    .about-us::after {
        position: absolute;
        width: 4em;
        height: 4em;
        border-radius: 0.5em;
        background-color: #a6e22e;
        background-image: -webkit-radial-gradient(center, ellipse cover,  #35aa23 0%,#a6e22e 67%,#a6e22e 100%);
        background-image: radial-gradient(ellipse at center,  #35aa23 0%,#a6e22e 67%,#a6e22e 100%);
    }

    .about-us {
        right: 2em;
        bottom: 2em;
        padding-top: 1em;
        font-weight: bold;
        color: #FFF !important;
        line-height: 1.125;
        text-align: center;
        text-decoration: none !important;
        text-shadow: 0 -0.125em 0.5em rgba(0,0,0,0.5), 0 0.0625em #35aa23;
        -webkit-transform: rotate(15deg);
        transform: rotate(15deg);
    }

    .about-us::before,
    .about-us::after {
        content: "";
        left: 0;
        top: 0;
        z-index: -1;
        -webkit-transform: rotate(60deg);
        transform: rotate(60deg);
    }

    .about-us::before {
        -webkit-transform: rotate(30deg);
        transform: rotate(30deg);
    }

    .rotate {
        -webkit-transition: -webkit-transform 0.75s ease-in-out;
        transition: transform 0.75s ease-in-out;
    }

    .rotate:hover {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }

}

@media only screen and (max-width: 39.9375em) {

    .vcard {
        padding: 2em 1em;
    }

    .about-us {
        top: 12em;
        right: 1.5em;
        bottom: auto;
    }

    [role="contentinfo"] {
        position: relative;
        margin: 4em -1em 0;
        padding: 1em 1em 1em 6.5em;
        line-height: 2rem;
    }
    
    [role="contentinfo"] a {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        padding: 0.5625rem 1rem 1rem;
        text-align: left;
    }

}

@media only screen and (min-width: 40em) {

    html {
        background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAMAAACeL25MAAAADFBMVEXn5+fs7Ozw8PDy8vIGEBs9AAAAFElEQVQIW2NkAAJGRhDBBCKYgQQAAHIAC4uLDFAAAAAASUVORK5CYII=) top left repeat;
    }

    body {
        height: 100%;
        text-align: center;
    }

    body:before {
        content: "";
        display: inline-block;
        height: 100%;
        vertical-align: middle;
        margin-right: -0.25em;
    }

    .vcard {
        display: inline-block;
        position: relative;
        width: 34em;
        margin-top: 2em;
        margin-bottom: 2em;
        background-color: #fff;
        box-shadow: 0 0.125em 0.25em rgba(0,0,0,0.25);
        vertical-align: middle;
        text-align: left;
    }

    [role="main"] {
        margin-left: 12em;
        margin-bottom: -0.25em;
    }

    .url {
        position: absolute;
        left: 2em;
        top: 2em;
    }

    [role="contentinfo"] {
        position: absolute;
        width: 6em;
        left: 2em;
        bottom: 2em;
    }

}

@media only screen and (min-width: 64em) { html { font-size: 20px; } }
/*@media only screen and (min-width: 90em) { html { font-size: 24px; } }
@media only screen and (min-width: 110em) { html { font-size: 28px; } }
@media only screen and (min-width: 130em) { html { font-size: 32px; } }
@media only screen and (min-width: 150em) { html { font-size: 36px; } }
*/
.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/* Print */

@media print {

    .screen {
        display: none !important;
    }

    * {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: none;
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }

}
