/*! style.css v1.0.0 */

::-moz-selection {
	background: #a6e22e;
	text-shadow: none;
}

::selection {
	background: #a6e22e;
	text-shadow: none;
}

hr {
	display: block;
	height: 1px;
	border: 0;
	border-top: 1px solid #000;
	margin: 1em 0;
	padding: 0;
}

img {
	max-width: 100%;
	vertical-align: middle;
}

small {
	font-size: 75%;
}

/* Screen */

html {
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	color: #000;
}

*,
*:before,
*:after {
	-moz-box-sizing: inherit;
	box-sizing: inherit;
}

.regular {
	margin: 0;
	font-size: 100%;
	font-weight: normal;
}

abbr[title] {
	border-bottom: none;
}

.logo {
	width: 9.625em;
}

.tagline {
	margin-top: 0.875em;
	margin-bottom: 4em;
	color: #005593;
}

[role="contentinfo"] {
	line-height: 1;
}

.parent-logo {
	width: 6em;
	margin-top: 0.5em;
}

@media only screen {

	.print {
		display: none !important;
	}

	html {
		background: #fff;
		font: normal 100%/1.4 'Open Sans', sans-serif;
	}

	a {
		color: #000;
		text-decoration: none;
	}

	a:hover {
		color: #e4001b;
		text-decoration: underline;
	}

	.vcard {
		border-top: 0.25em solid #bce4fa;
		padding: 1.75em 2em 2em;
	}
	
	.error {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		color: #fff;
		text-shadow: 0 0 0.25em #000;
	}

	.about-us,
	.about-us::before,
	.about-us::after {
		position: absolute;
		width: 4em;
		height: 4em;
		border-radius: 0.5em;
		background-color: #a6e22e;
		background-image: -webkit-radial-gradient(center, ellipse cover,  #35aa23 0%,#a6e22e 67%,#a6e22e 100%);
		background-image: radial-gradient(ellipse at center,  #35aa23 0%,#a6e22e 67%,#a6e22e 100%);
	}

	.about-us {
		right: 2em;
		bottom: 2em;
		padding-top: 1em;
		font-weight: bold;
		color: #fff !important;
		line-height: 1.125;
		text-align: center;
		text-decoration: none !important;
		text-shadow: 0 -0.125em 0.5em rgba(0,0,0,0.5), 0 0.0625em #35aa23;
		-webkit-transform: rotate(15deg);
		transform: rotate(15deg);
	}

	.about-us::before,
	.about-us::after {
		content: "";
		left: 0;
		top: 0;
		z-index: -1;
		-webkit-transform: rotate(60deg);
		transform: rotate(60deg);
	}

	.about-us::before {
		-webkit-transform: rotate(30deg);
		transform: rotate(30deg);
	}

	.rotate {
		-webkit-transition: -webkit-transform 0.75s ease-in-out;
		transition: transform 0.75s ease-in-out;
	}

	.rotate:hover {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
	}

}

@media only screen and (max-width: 39.9375em) {

	.vcard::before {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		height: 6em;
		background: url(../img/bg.jpg) center top no-repeat #005593;
		background-size: cover;
	}

	.vcard {
		overflow: hidden;
		margin-top: 6em;
		padding: 1.5em 1em;
	}

	[role] {
		position: relative;
		width: 18rem;
		margin-left: auto;
		margin-right: auto;
	}

	.about-us {
		right: 0.5rem;
		bottom: 0;
	}

	[role="contentinfo"] {
		margin-top: 4em;
	}

	[role="contentinfo"] a {
		display: block;
		margin-top: -1.5rem;
		padding-top: 1.5rem;
	}

}

@media only screen and (max-width: 19.9375em) {

	[role="alert"] {
		width: auto;
		padding: 0 1rem;
	}

	[role="main"] {
		width: auto;
	}

	[role="navigation"] {
		width: 90%;
		height: 7rem;
	}

	[role="contentinfo"] {
		width: 6em;
		margin: -2rem 0 0 0;
	}

}

@media only screen and (min-width: 40em) {

	html {
		background: url(../img/bg.jpg) center center no-repeat #005593;
		background-size: cover;
	}

	html,
	body {
		height: 100%;
		text-align: center;
	}

	body:before {
		content: "";
		display: inline-block;
		height: 100%;
		vertical-align: middle;
		margin-right: -0.25em;
	}

	.vcard {
		display: inline-block;
		position: relative;
		width: 34em;
		margin-top: 2em;
		margin-bottom: 2em;
		background-color: #fff;
		box-shadow: 0 0.2em 1em rgba(0,0,0,0.7);
		vertical-align: middle;
		text-align: left;
	}

	.error {
		top: -3rem;
	}

	[role="main"] {
		margin-left: 12em;
		margin-bottom: -0.25em;
	}

	.url {
		position: absolute;
		left: 2em;
		top: 1.75em;
	}

	[role="contentinfo"] {
		position: absolute;
		width: 6em;
		left: 2em;
		bottom: 2em;
	}

}

@media only screen and (min-width: 64em) {

	html {
		font-size: 20px;
	}

}

.visuallyhidden {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}

/* Print */

@media print {

	.screen {
		display: none !important;
	}

	html {
		font-family: serif;
	}

	a,
	a:visited {
		color: #000 !important;
		text-decoration: none;
	}

	img {
		page-break-inside: avoid;
		max-width: 100% !important;
	}

	@page {
		margin: 20mm;
	}

	p,
	h2,
	h3 {
		orphans: 3;
		widows: 3;
	}

	h2,
	h3 {
		page-break-after: avoid;
	}

}