doctype html
html(lang="en")

	head
		meta(charset="utf-8")
		title BeeOne ✨ Innovation &amp; Design for Erste Group
		meta(name="description", content="BeeOne GmbH is the digital innovation unit of Erste Hub.")
		meta(name="viewport", content="width=device-width,initial-scale=1.0")
		block stylesheets
			!= "<!--[if gt IE 9]><! -->"
			link(rel="stylesheet", href="//fonts.googleapis.com/css?family=Open+Sans:300")
			link(rel="stylesheet", href="style.css?inline")
			!= "<!-- <![endif]-->"
			!= "<!--[if lte IE 9]>"
			link(rel="stylesheet", href="oldie.css")
			!= "<![endif]-->"			
		block icons
			link(rel="apple-touch-icon", sizes="300x300", href="avatar.png")
			link(rel="icon", type="image/png", sizes="32x32", href="favicon-32.png")
			link(rel="icon", type="image/png", sizes="16x16", href="favicon-16.png")
			link(rel="icon", type="image/png", sizes="300x300", href="avatar.png")

	body
		block errors
		main.vcard(role="main")
			header
				h1.fn.n.org(aria-label="BeeOne")
					a.url(href="https://www.beeone.at/")
						img.logo(src="logo.png", alt="")
					= " BeeOne "
					abbr(lang="de", title="Gesellschaft mit beschränkter Haftung") GmbH
				p.tagline
					strong.note The digital innovation unit of Erste&nbsp;Hub
			section#contact
				h2.sr-only Company details
				p.hidden
					img.photo(src="avatar.png", alt="")
				p.adr
					a(href="https://www.google.com/maps/place/Am+Belvedere+1,+1100+Wien")
						span.street-address(lang="de") Am&nbsp;Belvedere&nbsp;1
						br
						span.postal-code 1100
						| &nbsp;
						span.locality Vienna
						br.print
						span.country-name.print Austria
				p.contact
					span.email
						| office
						abbr(title="at") &#64;
						| beeone
						abbr(title="dot") &#46;
						span.email-tld at
				p.vat-number ATU 67474556
				p.related
					small
						| Member of 
						a.parent(href="https://www.erstegroup.com/") Erste&nbsp;Group
			section#map.figure
				h2.sr-only Location
				p.box(data-credit="Image courtesy of www.erstecampus.at")
					span.lead-in.screen The company is located at the Erste Campus.
					br.hidden
					img.preview(src="map.png", alt="A map highlighting the company’s location. It is close to train station “Vienna Central Station.”")
					br.hidden
					a.c2a.screen(href="https://www.google.com/maps/place/Am+Belvedere+1,+1100+Wien") Show on Google&nbsp;Maps
		aside#about.figure.screen
			h2.sr-only About
			p.box
				span.lead-in Learn more about BeeOne and the Erste Hub.
				br.hidden
				iframe.preview(src="https://www.erstegroup.com/en/about-us/hub", tabindex="-1", aria-hidden="true", sandbox="allow-scripts", referrerpolicy="no-referrer")
				br.hidden
				a.c2a.screen(href="https://www.erstegroup.com/en/about-us/hub") Open related article on the Erste&nbsp;Group website

		footer.hidden(role="contentinfo")
			hr
			p &copy; 2012-#{new Date().getFullYear()} BeeOne GmbH.
			block javascripts
				script(src="mailto.js?inline")
