body {
	border-left: 90px solid #bce4fa;
	margin: 0;
	padding: 20px;
	font-family: sans-serif;
}
h2,
hr {
	margin-top: 60px;
}
.url {
	float: right;
	margin: 0 40px 40px;
}
.logo {
	border: none;
}
.preview {
	display: none;
}
hr {
	height: 0;
	border: 0 solid #bce4fa;
	border-bottom-width: 1px;
}
